

.login {
  display: flex;
}
register-form-block-1
.login span {
  color: #ffffff;
  font-size: 13px;
  margin-left: -1px;
  margin-right: 0px;
}
.login-form{
  font-size: 13px;
  color: #ffffff;
  font-family: 'Stag Sans Book';
  cursor: pointer;
}
.login-form:hover{
  color: #a3bcea;
}
.reg-form{
  font-size: 13px;
  color: #ffffff;
  font-family: 'Stag Sans Book';
  cursor: pointer;
}
.reg-form:hover{
  color: #a3bcea;
}
/*Registration and Login pop-up form start*/
.login-form-header{
  max-width: 624px;
  box-sizing: border-box;
  background-image: url("../images/login-fon.png");
  color: #fff;
  border-radius: 20px;
  z-index: 1;
  text-align: center;
  h1{
    padding-top: 50px;
    padding-bottom: 60px;
    font-size: 24px;
    color: #000000;
    font-family: 'Stag Sans Medium';
    text-align: center;
  }
  .athor-login{
    padding-bottom: 47px;
    input{
      text-align: center;
      border-radius: 50px;
      padding: 5px;
      font-size: 18px;
      color: #000000;
      font-family: 'Stag Sans Medium';
      outline: none;
      border: none;
    }
    ::placeholder {
      text-align: left;
      color: #000000;
      padding-left: 5px;
      font-weight: normal;
    }
    input:first-child{
      margin-right: 25px;
    }
  }
  .button-to-login{
    font-size: 18px;
    color: #ffffff;
    font-family: 'Stag Sans Medium';
    text-align: center;
    width: 200px;
    padding: 10px;
    margin: auto;
    background-color: #2fa9e5;
    cursor: pointer;
    border-radius: 10px;
  }
  .button-to-login:hover{
    color: black;
    background-color: #b2d4e4;
  }
  .form-links{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    p{
      font-size: 18px;
      color: #000000;
      font-family: 'Stag Sans Medium';
      cursor: pointer;
    }
    p:hover{
      font-weight: bold;
    }
  }
}
.register-form-header{  
  max-width: 624px;
  background-image: url("../images/login-fon.png");
  color: #fff;
  border-radius: 20px;
  z-index: 1;
  text-align: center;
  h1{
    font-size: 1.5em;
    color: #000000;
    font-family: 'Stag Sans Medium';
    text-align: center;
    padding-top: 51px;
  }
  .register-form-block{
    padding-top: 60px;
    display: flex;
    justify-content:space-between;
    max-width:540px ;
    margin: auto;
    input{
      text-align: center;
      border-radius: 50px;
      padding: 5px;
      font-size: 18px;
      color: #000000;
      font-family: 'Stag Sans Medium';
      outline: none;
      border: none;
      margin-bottom: 25px;
    }
    ::placeholder {
      text-align: left;
      color: #000000;
      padding-left: 5px;
      font-weight: normal;
    }
  }
  #reg-button{
    display: flex;
    padding-left: 80px ;
    padding-bottom: 50px;
    span{
      max-width: 330px;
      font-size: 18px;
      color: #000000;
      font-family: 'Stag Sans Medium';
      a{
        color: #000000;
      }
    }
  }
}
.feedback-form{
  background-image: url("../images/login-fon.png");
  color: #fff;
  border-radius: 20px;
  z-index: 1;
  text-align: center;
  margin: auto;
  height:auto;

  #reg-button{
    display: flex;
    span{
      color: #000000;
      font-family: 'Stag Sans Medium';
      a{
        color: #000000;
      }
    }
  }
  .form-group{
    padding: 50px;
  }
  .box-input{
    display: flex;
    justify-content: flex-start;
    span{
      font-size: 18px;
      color: #000000;
      font-family: "Stag Sans LC";
    }
  }
  .select-form{
    padding-top: 24px;
  }
  .textarea-form{
    padding-top:24px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    h3{
      text-align:left;
      font-size: 18px;
      font-weight: bold;
      color: #000000;
      font-family: "Stag Sans LC";
    }
    textarea{
      border-radius: 20px;
      resize: none;
    }
  }
  input{
    text-align: center;
    border-radius: 50px;
    padding: 5px;
    font-size: 18px;
    color: #000000;
    font-family: 'Stag Sans Medium';
    outline: none;
    border: none;
  }
  ::placeholder {
    text-align: left;
    color: #000000;
    padding-left: 5px;
    font-weight: normal;
  }
  .form-login-password{
    display: flex;
  }
  .form-login{
    padding-right: 25px;
  }

}
.send-button{
  font-size: 18px;
  color: #ffffff;
  font-family: 'Stag Sans Medium';
  text-align: center;
  width: 200px;
  padding: 10px;
  margin: auto;
  background-color: #2fa9e5;
  cursor: pointer;
  border-radius: 10px;
}
.send-button:hover{
  color: black;
  background-color: #b2d4e4;
}
.close-popup-form{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 23px;
  height: 23px;
  cursor: pointer;
}
.close-popup-form:before {
  content: '';
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  left: -4px;
  transform: rotate(-45deg);
}

.close-popup-form:after {
  content: '';
  background-color: #fff;
  position: absolute;
  height: 1px;
  width: 31px;
  top: 11px;
  transform: rotate(45deg);
  left: -4px;
}
.password-recover{
  position: absolute;
  width: 624px;
  max-height:355px;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  background-image: url("../images/login-fon.png");
  color: #fff;
  display: none;
  border-radius: 20px;
  z-index: 1;
  text-align: center;
  h1{
    font-size: 1.5em;
    color: #000000;
    font-family: 'Stag Sans Medium';
    text-align: center;
    padding-top: 51px;
    padding-bottom: 60px;
  }
  input{
    text-align: center;
    border-radius: 50px;
    padding: 5px;
    font-size: 18px;
    color: #000000;
    font-family: 'Stag Sans Medium';
    outline: none;
    border: none;
    margin-bottom: 25px;
  }
  ::placeholder {
    text-align: left;
    color: #000000;
    padding-left: 5px;
    font-weight: normal;
  }
  .password-new{
    padding-top: 10px;
    font-size: 18px;
    color: #000000;
    font-family: 'Stag Sans Medium';
    cursor: pointer;
  }

}
.box-input{
  img{
    width: 20px;
    height: 25px;
  }
  span{
    text-decoration: underline;
    color: black;
    padding-left: 5px;
  }
  span:hover{
    color:#b2d4e4;
  }
}
.js .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.inputfile + label {
  max-width: 80%;
  font-size: 1.25rem;
  /* 20px */
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
  /* 10px 20px */
}
.no-js .inputfile + label {
  display: none;
}
.remove-this{
  display: none;
}
.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}
.inputfile-3 + label {
  color: #d3394c;
}
.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
  color: #722040;
}
/*Registration and Login pop-up form end*/


.register-form-block-1 input, .register-form-block-2 input {
    width: 100% !important;
}

.athor-login .col-sm-6 {
    margin-bottom: 10px;
}



.athor-login .col-sm-6 input {
    width: 100%;
}

.modal-header {
    border: none !important;
    padding: 0;
}

.register-form-header h1 {
    margin-top: 0px;
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

input[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.radio-first label {
    color: #000 !important;
    font-size: 18px;
    font-weight: bold;
}

.radio-second label {
    color: #000 !important;
    font-size: 18px;
    font-weight: bold;
}

.radio-buttons {
    justify-content: space-between;
    width: 80%;
    margin: 9px auto;
    margin-bottom: 8px;
}

.custom-control-label::before {
    display: none !important;
}

.custom-control-label::after {
    display: none !important;
}

/* Base for label styling */
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
    top: -6px;
}

/* checkbox aspect */
input[type="checkbox"]:not(:checked) + label:before,
input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}

/* checked mark aspect */
input[type="checkbox"]:not(:checked) + label:after,
input[type="checkbox"]:checked + label:after {
    content: '\2713\0020';
    position: absolute;
    top: .15em;
    left: .22em;
    font-size: 14px;
    margin: 2px;
    line-height: 0.8;
    color: #000;
    transition: all .2s;
    font-family: 'Lucida Sans Unicode', 'Arial Unicode MS', Arial;
}

/* checked mark aspect changes */
input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

/* disabled checkbox */
input[type="checkbox"]:disabled:not(:checked) + label:before,
input[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

input[type="checkbox"]:disabled:checked + label:after {
    color: #999;
}

input[type="checkbox"]:disabled + label {
    color: #aaa;
}

.custom-control-label {
    font-weight: bold !important;
    color: #000;
    width: 93%;
    font-size: 14px;
    margin-left: auto;
    margin-top: 15px;
}

.send-button {
    margin: 15px auto;
}

.error-mail .error-email {
    display: block !important;
}

.error-email {
    color: green;
    display: none;
    margin-bottom: 0;
}

.not-valid p {
    display: block;
}

.error-inside {
    color: green;
    position: absolute;
    font-size: 12px;
    top: 41px;
    display: none;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.input-margin {
    margin-bottom: 25px;
    display: inline-block;
    position: relative;
}

.register-form-block-1 input {
    margin-bottom: 0 !important;
}

.register-form-block-2 input {
    margin-bottom: 0 !important;
}
.not-valid .error-inside{
    display: block !important;
}
