section(class="account")
 div(class="center")
  div(class="account-head")
   span ЛИЧНЫЙ КАБИНЕТ
  div(class="account-block")
   div(class="account-block1")
    div(class="row")
     div(class="account-info col-md-8") 
      span(class="account-name") 
       | Константин Николаевич Владимиров
       a(href="#")
      span(class="account-icon mail") konstantin@mail.ru
      span(class="account-icon phone") +7 999 877 6633
     div(class="account-code col-md-4")
      span 3
      span кода
      div(class="account-code-icon")
    div(class='acoount-btn')
     form(action="")
      input(class="white-btn site-btn" placeholder="Загрузить код")
      a(class="jellow-btn site-btn" href="JavaScript:void(0);") Отправить
    div(class='my_code')
     div(class='my_code_h') Мои коды
     div(class='my_code_row row')
      div(class='my_code_item col-md-4')
       span(class="my_code_span") 37289892898323
       span(class="my_code_span") 37289892898323
       span(class="my_code_span") 37289892898323
      div(class='my_code_item col-md-4')
       span(class="my_code_icon accept") Принят
       span(class="my_code_icon not_accept") Не принят
       span(class="my_code_icon process") Обрабатывается
      div(class='my_code_item col-md-4')
       span(class="my_code_date") 05.07.2019  10:00 
       span(class="my_code_date") 05.07.2019  10:00
       span(class="my_code_date") 05.07.2019  10:00 
     div(class='my_code_all')
      a(href="#") Показать все коды >
     div(class='my_code_row-mob')
      div(class='my_code_item_mob')
       span(class="my_code_span") 37289892898323
       span(class="my_code_icon accept") Принят
       span(class="my_code_date") 05.07.2019  10:00 
      div(class='my_code_item_mob')
       span(class="my_code_span") 37289892898323
       span(class="my_code_icon not_accept") Не принят
       span(class="my_code_date") 05.07.2019  10:00 
      div(class='my_code_item_mob')
       span(class="my_code_span") 37289892898323
       span(class="my_code_icon process") Обрабатывается
       span(class="my_code_date") 05.07.2019  10:00 
   div(class="account-block2")
    div(class='my_code_h') Мои призы
    div(class="row")
     div(class="account-prize col-md-3") 
      div(class="account-prize-head") Дата выигрыша
     div(class="account-prize col-md-3") 
      div(class="account-prize-head") Код
     div(class="account-prize col-md-3") 
      div(class="account-prize-head") Приз
     div(class="account-prize col-md-3") 
    div(class="row")
     div(class="account-prize col-md-3") 
      div(class="account-prize-text") 05.07.2019
     div(class="account-prize col-md-3") 
      div(class="account-prize-text") 37289892898323
     div(class="account-prize col-md-3")
      div(class="account-prize-text") Билеты на матч
     div(class="account-prize col-md-3") 
      div(class="account-prize-btn") 
       button ПОЛУЧИТЬ
    div(class="row")
     div(class="account-prize col-md-3") 
      div(class="account-prize-text") 05.07.2019
     div(class="account-prize col-md-3") 
      div(class="account-prize-text") 37289892898323
     div(class="account-prize col-md-3") 
      div(class="account-prize-text") Атрибутика команды
     div(class="account-prize col-md-3") 
      div(class="account-prize-btn") 
       button ПОЛУЧИТЬ
    div(class="row")
     div(class="account-prize col-md-3") 
      div(class="account-prize-text") 05.07.2019
     div(class="account-prize col-md-3") 
      div(class="account-prize-text") 37289892898323
     div(class="account-prize col-md-3")
      div(class="account-prize-text") VIP-пакет на матч Зенита
     div(class="account-prize col-md-3") 
      div(class="account-prize-btn") 
       button ПОЛУЧИТЬ


    div(class="row-mob")
     div(class="account-prize-mob") 
      div(class="account-prize-head") Дата выигрыша
      div(class="account-prize-text") 05.07.2019
      div(class="account-prize-head") Имя
      div(class="account-prize-text") Константин
      div(class="account-prize-head") E-mail
      div(class="account-prize-text") Konstantin@xxxx.xx
      div(class="account-prize-btn") 
       button ПОЛУЧИТЬ
     div(class="account-prize-mob") 
      div(class="account-prize-head") Дата выигрыша
      div(class="account-prize-text") 05.07.2019
      div(class="account-prize-head") Имя
      div(class="account-prize-text") Константин
      div(class="account-prize-head") E-mail
      div(class="account-prize-text") Konstantin@xxxx.xx
      div(class="account-prize-btn") 
       button ПОЛУЧИТЬ
     div(class="account-prize-mob") 
      div(class="account-prize-head") Дата выигрыша
      div(class="account-prize-text") 05.07.2019
      div(class="account-prize-head") Имя
      div(class="account-prize-text") Константин
      div(class="account-prize-head") E-mail
      div(class="account-prize-text") Konstantin@xxxx.xx
      div(class="account-prize-btn") 
       button ПОЛУЧИТЬ
  
   