section(class="club-prize")
 div(class="center")
  div(class="club-prize-head")
   span ПРИЗЫ ОТ КЛУБА ЗЕНИТ
  div(class="club-prize-block")
   div(class="club-prize-block1 two-items")
    p(class="club-prize-block-h") ПРИЗЫ ЗА ПОКУПКУ
    div(class="row")
     div(class="club-prize-item col-md-6") 
      p(class="club-prize-item-head") Регулярный приз
      div(class="club-prize-icon")
      p(class="club-prize-item-txt") 
       | Билеты 
       br
       | на матч
      a(href="#", class="club-prize-item-link") Подробнее
     div(class="club-prize-item col-md-6") 
      p(class="club-prize-item-head") Главный приз
      div(class="club-prize-icon")
      p(class="club-prize-item-txt") 
       | Один день 
       br
       | с любимой командой
      a(href="#", class="club-prize-item-link") Подробнее
   div(class="club-prize-block1 three-items")
    p(class="club-prize-block-h") ПРИЗЫ ЗА ВИКТОРИНУ
    div(class="row")
     div(class="club-prize-item col-md-4") 
      div(class="club-prize-icon")
      p(class="club-prize-item-txt") 
       | Мяч 
       br
       | с автографом
      span(class="club-prize-item-link link-ball" data-toggle="modal", data-target="#myModal5") Подробнее
     div(class="club-prize-item col-md-4") 
      div(class="club-prize-icon")
      p(class="club-prize-item-txt") 
       | Футболка 
       br
       | с автографом
      a(href="#", class="club-prize-item-link") Подробнее
     div(class="club-prize-item col-md-4") 
      div(class="club-prize-icon")
      p(class="club-prize-item-txt") 
       | Шарф 
       br
       | с автографом
      a(href="#", class="club-prize-item-link") Подробнее


      
      
   