section(class="content")
 div(class="center")
  div(class="content-block")
   div
    h3 По дороге с любимой командой!
    div(class="content-text")
     | Регистрируй коды с продукции Continental и выигрывай уникальные подарки.
   div(class='content-btn')
    a(class="white-btn site-btn", href="#") Загрузить код
    a(class="jellow-btn site-btn", href="#") Отправить
 div(class="content-footer")
  div(class="center-mini")
   .row
    a(href='#', class="content-link col-md-4")
     div(class="icon-block")
     p КУПИ
     span
      | комплект шин (4 шт) 
      br
      | Continental
    a(href='#', class="content-link col-md-4")
     div(class="icon-block")
     p ЗАРЕГИСТРИРУЙ
     span 
      | код с купона и стань 
      br
      | участником акции
    a(href='#', class="content-link col-md-4")
     div(class="icon-block")
     p ВЫИГРАЙ
     span 
      | уникальные
      br
      | призы


section(class="cont-footer")
  div(class="center-mini")
   .row
    a(href='#', class="content-link col-md-4")
     div(class="icon-block")
     p КУПИ
     span
      | комплект шин (4 шт) 
      br
      | Continental
    a(href='#', class="content-link col-md-4")
     div(class="icon-block")
     p ЗАРЕГИСТРИРУЙ
     span 
      | код с купона и стань 
      br
      | участником акции
    a(href='#', class="content-link col-md-4")
     div(class="icon-block")
     p ВЫИГРАЙ
     span 
      | уникальные
      br
      | призы



