section(class="map")
 div(class="center")
  div(class="map-head")
   span ГДЕ КУПИТЬ
  div(class="map-block")
   div(class="map-iframe")
    div(id="map")
  div(class="map-all")
   a(href="#") Полный список адресов
   