section(class="victorina")
 div(class="center")
  div(class="victorina-block")
   div(class="row victorina-row")
    h3 ПРИГЛАШЕНИЕ НА ВИКТОРИНУ
    div(class="victorina-item col-md-4")
     div(class="vic-icon")
     p Ответь на вопросы
    div(class="victorina-item col-md-4")
     div(class="vic-icon")
     p Участвуй в розыгрыше
    div(class="victorina-item col-md-4")
     div(class="vic-icon")
     p Выиграй приз
    div(class="victorina-btn")
     button
      span Играть
  div(class="row victorina-row")
    h3 КАЛЕНДАРЬ МЕРОПРИЯТИЙ
    div(class="victorina-item2 col-md-4")
     span(class="victorina-num") 9
     span(class="victorina-date") ноября
     p По дороге с историей любимой команды
    div(class="victorina-item2 col-md-4")
     span(class="victorina-num") 10
     span(class="victorina-date") ноября
     p Новая викторина “История Зенита”
    div(class="victorina-item2 col-md-4")
     span(class="victorina-num") 14
     span(class="victorina-date") ноября
     p Розыгрыш призов за покупку