section(class="winer")
 div(class="center")
  div(class="winer-h")
   span ПОБЕДИТЕЛИ
  div(class="winer-block")
   div(class="winer-head")
    div(class="winer-head row")
     div(class="winer-head-item")
      span Дата выигрыша
     div(class="winer-head-item")
      span Имя
     div(class="winer-head-item")
      span E-mail
     div(class="winer-head-item")
      span Приз
   div
     div(class="winer-item")
      div(class="winer-item-row row")
       div(class="winer-row-item")
        p(class="winner-hed-mob") Дата выигрыша
        span
         | 05.07.2019
         span  10:00
       div(class="winer-row-item")
        p(class="winner-hed-mob")  Имя
        span Константин
       div(class="winer-row-item")
        p(class="winner-hed-mob") E-mail
        span Konstantin@xxxx.xx
       div(class="winer-row-item")
        p(class="winner-hed-mob") Приз
        span Билеты на матч
     div(class="winer-item")
      div(class="winer-item-row row")
       div(class="winer-row-item")
        p(class="winner-hed-mob") Дата выигрыша
        span
         | 05.07.2019
         span  10:00
       div(class="winer-row-item")
        p(class="winner-hed-mob")  Имя
        span Константин
       div(class="winer-row-item")
        p(class="winner-hed-mob") E-mail
        span Konstantin@xxxx.xx
       div(class="winer-row-item")
        p(class="winner-hed-mob") Приз
        span Билеты на матч
     div(class="winer-item")
      div(class="winer-item-row row")
       div(class="winer-row-item")
        p(class="winner-hed-mob") Дата выигрыша
        span
         | 05.07.2019
         span  10:00
       div(class="winer-row-item")
        p(class="winner-hed-mob")  Имя
        span Константин
       div(class="winer-row-item")
        p(class="winner-hed-mob") E-mail
        span Konstantin@xxxx.xx
       div(class="winer-row-item")
        p(class="winner-hed-mob") Приз
        span Билеты на матч
     div(class="winer-item")
      div(class="winer-item-row row")
       div(class="winer-row-item")
        p(class="winner-hed-mob") Дата выигрыша
        span
         | 05.07.2019
         span  10:00
       div(class="winer-row-item")
        p(class="winner-hed-mob")  Имя
        span Константин
       div(class="winer-row-item")
        p(class="winner-hed-mob") E-mail
        span Konstantin@xxxx.xx
       div(class="winer-row-item")
        p(class="winner-hed-mob") Приз
        span Билеты на матч
     div(class="winer-item")
      div(class="winer-item-row row")
       div(class="winer-row-item")
        p(class="winner-hed-mob") Дата выигрыша
        span
         | 05.07.2019
         span  10:00
       div(class="winer-row-item")
        p(class="winner-hed-mob")  Имя
        span Константин
       div(class="winer-row-item")
        p(class="winner-hed-mob") E-mail
        span Konstantin@xxxx.xx
       div(class="winer-row-item")
        p(class="winner-hed-mob") Приз
        span Атрибутика команды
     div(class="winer-item")
      div(class="winer-item-row row")
       div(class="winer-row-item")
        p(class="winner-hed-mob") Дата выигрыша
        span
         | 05.07.2019
         span  10:00
       div(class="winer-row-item")
        p(class="winner-hed-mob")  Имя
        span Константин
       div(class="winer-row-item")
        p(class="winner-hed-mob") E-mail
        span Konstantin@xxxx.xx
       div(class="winer-row-item")
        p(class="winner-hed-mob") Приз
        span Атрибутика команды
   div(class="winer-pagination desk")
    div(class="winer-pagination-block")
      a(href="#", class="prev-page")
      div
        a(href="#", class="pagination-item act") 1
        a(href="#", class="pagination-item") 2
        a(href="#", class="pagination-item") 3
        a(href="#", class="pagination-item") 4
        a(href="#", class="pagination-item") 5
        a(href="#", class="pagination-item") 6
        a(href="#", class="pagination-item") 7
        a(href="#", class="pagination-item") 8
        a(href="#", class="pagination-item") 9
        a(href="#", class="pagination-item") 10
        a(href="#", class="pagination-item") 11
        a(href="#", class="pagination-item") 12
        a(href="#", class="pagination-item") 13
        a(href="#", class="pagination-item") 14
        a(href="#", class="pagination-item") 15
        a(href="#", class="pagination-item") 16
        a(href="#", class="pagination-item") 17
        a(href="#", class="pagination-item") 18
      a(href="#", class="next-page")
   div(class="winer-pagination mob")
    div(class="winer-pagination-block")
      a(href="#", class="prev-page")
      div
        a(href="#", class="pagination-item act") 1
        a(href="#", class="pagination-item") 2
        a(href="#", class="pagination-item") 3
        a(href="#", class="pagination-item") 4
        a(href="#", class="pagination-item") 5
        a(href="#", class="pagination-item") 6
        a(href="#", class="pagination-item") 7
        a(href="#", class="pagination-item") 8
        a(href="#", class="pagination-item") 9
      a(href="#", class="next-page")
