include modules/doctype
 body
  include modules/header
  include modules/content
  include modules/account
  include modules/club_prize
  include modules/map
  include modules/questions
  include modules/winer
  include modules/footer
   